body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.left-box {
  flex: 2; /* 왼쪽 박스가 오른쪽 박스보다 30% 더 넓습니다. */
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #000;
}

.right-box {
  flex: 1; /* 오른쪽 박스의 기본 크기 설정 */
  display: grid;
  padding: 10px;
}

.explanation-cell {
  border: 1px solid #000;
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
